// Header
header
	.container
		.row
			.col-lg-12
				|{% img profile.png alt:'Profile Picture for Raphael Machin' id:'profile' class:'img-responsive' %}
				.intro-text
					span.name Raphael Machin
					hr.star-light
					span.skills {{ site.description }}
