// Header
header
	.container
		.row
			.col-lg-12
				img#profile.img-responsive(src='/assets/img/profile.png', alt='')
				.intro-text
					span.name Raphael Machin
					hr.star-light
					span.skills {{ site.description }}
