| {% for post in site.posts %}
.portfolio-modal.modal.fade(id='{{ post.modalID }}', tabindex='-1', role='dialog', aria-hidden='true')
	.modal-content
		.close-modal(data-dismiss='modal')
			.lr
				.rl
		.container
			.row
				.col-lg-8.col-lg-offset-2
					.modal-body
						h2 {{ post.title }}
						hr.star-primary
						img.img-responsive.img-centered(src='{{ site.baseurl }}/{{ post.img }}', alt='')
						|                         {{ post.content }}
						ul.list-inline.item-details
							li
								| Category:
								strong
									| {{ post.category }}
							li
								| Date:
								strong
									| {{ post.date | date: "%B %Y" }}
						button.btn.btn-default(type='button', data-dismiss='modal')
							i.fa.fa-times
							|  Close
| {% endfor %}
