// Portfolio Grid Section
section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h2 Portfolio
        hr.star-primary
    .row
      | {% for post in site.posts %}
      .col-sm-4.portfolio-item
        a.portfolio-link(href='#{{ post.modalID }}', data-toggle='modal')
          .caption
            .caption-content
              i.fa.fa-search-plus.fa-3x
          img.img-responsive(src='{{ site.baseurl }}/{{ post.img }}', alt='')
      |                 {% endfor %}
